body {
	background: #000;
	color: #fff;
}
.hero {
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}
.hero-svg {
	margin-left: -85px;
	width: 800px;
	height: 500px;
}
.container {
	margin-top: -10px;
}
.hero-text {
	text-align: left;
	margin-top: 115px;
	margin-right: 0;
}
.title {
	font-size: 54px;
	display: block;
	font-weight: bold;
}
.subtitle {
	letter-spacing: 2px;
}
.btn {
	background-color: transparent;
	color: #fff;
	border: 1px solid #ffcf2d;
	border-radius: 50px;
	padding: 20px;
	width: 275px;
	margin-top: 1rem;
	font-size: 1.1rem;
}
.btn:hover {
	background-color: #ffcf2d;
	transition: all 0.5s;
}
.btn:active {
	border: 1px solid #ffcf2d;
}
.icon {
	color: #fff;
}
::-webkit-scrollbar-track {
	background: #000;
	border-radius: 10px;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgb(255, 238, 0);
	/* background-color: #ffcf2d; */
}
@media only screen and (max-width: 992px) {
	.hero-svg {
		margin-left: -90px;
		width: 650px;
		height: 500px;
	}
	.hero-text {
		text-align: left;
		margin-top: 115px;
		margin-left: -100px;
		margin-right: 70px;
	}
}
@media only screen and (max-width: 900px) {
	.hero-svg {
		margin-left: -90px;
		width: 600px;
		height: 500px;
	}
	.hero-text {
		text-align: left;
		margin-top: 115px;
		margin-left: -52px;
		margin-right: 0;
	}
}

@media only screen and (max-width: 768px) {
	.hero-svg {
		margin-left: -27px;
		width: 550px;
		height: 500px;
	}
	.hero-text {
		text-align: center;
		margin-top: 115px;
		margin-left: -10px;
		margin-right: 0;
	}
}

@media only screen and (max-width: 576px) {
	.hero-svg {
		margin-left: -20px;
		width: 550px;
		height: 500px;
	}
	.hero-text {
		text-align: center;
		margin-top: 115px;
		margin-left: -5px;
		margin-right: 0;
	}
}

@media only screen and (max-width: 474px) {
	.hero-svg {
		margin-left: -45px;
	}
	.hero-text {
		margin-left: 1rem;
	}
}

@media only screen and (max-width: 420px) {
	.hero-svg {
		margin-left: -5rem;
	}
	.hero-text {
		margin-left: 1rem;
	}
}

@media only screen and (max-width: 400px) {
	.hero-svg {
		margin-left: -35px;
		width: 400px;
		height: 400px;
	}
	.hero-text {
		text-align: center;
		margin-top: 115px;
		margin-left: 0px;
		margin-right: 0;
	}
}
@media only screen and (max-width: 360px) {
	.hero-svg {
		margin-left: -65px;
		width: 400px;
		height: 400px;
	}
	.hero-text {
		text-align: center;
		margin-top: 115px;
		margin-left: 0px;
		margin-right: 0;
	}
}
