.social-icons {
	color: #fff;
	font-size: 30px;
	display: flex;
	/* justify-content: center; */
}
.circle {
	background: transparent;
	border: 1px solid #ffcf2d;
	border-radius: 50px;
	width: 60px;
	height: 60px;
	padding-top: 10px;
	margin-right: 1rem;
	margin-top: -2rem;
	/* cursor: pointer; */
}

.social-icons-middle {
	color: #fff;
	font-size: 30px;
	display: flex;
	justify-content: center;
}
