.social-icons {
	color: #fff;
	font-size: 30px;
	display: flex;
	/* justify-content: center; */
}
.circle {
	background: transparent;
	border: 1px solid #ffcf2d;
	border-radius: 50px;
	width: 60px;
	height: 60px;
	padding-top: 10px;
	margin-right: 1rem;
	margin-top: -2rem;
	/* cursor: pointer; */
}
.circle:hover {
	background: #ffcf2d;
	color: #000;
}
@media only screen and (max-width: 992px) {
	.social-icons {
		margin-left: -5rem;
	}
}
@media only screen and (max-width: 768px) {
	.circle {
		margin-left: auto;
	}
	.text {
		margin-top: 2rem !important;
	}
}
@media only screen and (max-width: 576px) {
	.social-icons {
		margin-left: auto;
		margin-right: auto;
	}
	.text {
		margin-top: 2rem !important;
	}
}
