.navbar {
	/* background: peachpuff; */
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.75rem;
}

.navbar ul {
	display: flex;
}

.logo {
	font-size: 35px;
	font-weight: bold;
	margin-right: auto;
	margin-left: 2rem;
	text-decoration: none;
}

.logo a {
	text-decoration: none;
	color: #fff;
}

.nav-links {
	background: #000;
}

.nav-links ul a {
	text-decoration: none;
	width: 120px;
	height: 50px;
	list-style: none;
	color: #fff;
	margin-right: 2rem;
	font-size: 18px;
	background: transparent;
	border: 1px solid #ffcf2d;
	padding: 12px 15px;
	border-radius: 30px;
	text-align: center;
}
.nav-links ul a:hover {
	background: #ffcf2d;
	transition: all 0.5s;
	color: #000;
}
@media only screen and (max-width: 992px) {
	.logo {
		margin-left: 1.8rem;
	}
}
@media only screen and (max-width: 811px) {
	.logo {
		font-size: 30px;
	}
	.nav-links ul a {
		width: 100px;
		height: 45px;
		margin-right: 1rem;
		font-size: 14px;
	}
}

@media only screen and (max-width: 693px) {
	.logo {
		font-size: 35px;
		margin-bottom: 1rem;
		margin-left: auto;
	}
	.nav-links ul a {
		margin-left: 5.2rem;
		margin-right: 1rem;
	}
}

@media only screen and (max-width: 622px) {
	.nav-links ul a {
		margin-left: 4rem;
		margin-right: 1rem;
	}
}

@media only screen and (max-width: 576px) {
	.nav-links ul a {
		margin-left: 2.7rem;
		margin-right: 1rem;
	}
}
@media only screen and (max-width: 500px) {
	.nav-links ul a {
		margin-left: 2rem;
		margin-right: 1rem;
	}
}

@media only screen and (max-width: 450px) {
	.nav-links ul a {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

@media only screen and (max-width: 400px) {
	.nav-links ul a {
		margin-left: 0rem;
		margin-right: 0rem;
	}
}

@media only screen and (max-width: 360px) {
	.logo {
		margin-bottom: 1rem;
		margin-left: auto;
	}
	.nav-links ul a {
		width: 80px;
		height: 45px;
		margin-left: 1.1rem;
		margin-right: 0.5rem;
	}
}
