* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Josefin Sans', sans-serif;
}

.yellow {
	color: #ffcf2d;
}

.red {
	color: #fe5244;
}

a {
	text-decoration: none;
}
::-webkit-scrollbar-track {
	background: #000;
	border-radius: 10px;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgb(255, 238, 0);
	/* background-color: #ffcf2d; */
}
